[submodule "tudat"]
	path = tudat
	url = https://github.com/Tudat/tudat.git
[submodule "tudatExampleApplications"]
	path = tudatExampleApplications
	url = https://github.com/Tudat/tudatExampleApplications.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "tudatpy"]
	path = tudatpy
	url = https://github.com/ggarrett13/tudatpy.git
